 <%- include('header') %>
<div class="row justify-content-center bg-image mx-0 mb-5">
    <div class="col-lg-6 py-5">
        <div class="bg-white p-5 my-5">
            <h1 class="text-center mb-4">User Login Page</h1>
             <div class="row justify-content-center bg-image mx-0 mb-5">
            <div class="col-lg-6 py-5">
                <div class="bg-white p-5 my-5">
                    <h1 class="text-center mb-4">User login</h1>
                    <form action="/login" method="post">
                        <div class="form-group">
                          <input type="text" class="email-bt" placeholder="User Name" name="unm">
                        </div>
                        <div class="form-group">
                          <input type="Password" class="email-bt" placeholder="Password" name="pwd">
                        </div>
                        <div class="main_bt"><input type="submit"  value="submit"></div>
                        </form>
                </div>
            </div>
        </div>
            </form>
        </div>
    </div>
</div>
<%- include('footer') %>