<h1>Login Form</h1>

<form action="/form" method="post">
    <input type="email" name="email" placeholder="enter an email"><br><br>
    <input type="password" name="password" placeholder="enter password"><br><br>
    <input type="submit" value="login">

</form>