<html>
    <head>
        <link rel="stylesheet" href="css/style1.css">
    </head>
    <body>
        <h1>Login page working</h1>
        <img src="image/shiva.jpg" alt="">

        <h5>click on link to process</h5>
        <a href="/">Home</a><br/>
        <a href="/about">About</a><br/>
        <a href="/contact">Contact</a><br/>
        <a href="/service">Service</a><br/>
        <a href="/login">Login</a><br/>
        <a href="/register">Register</a><br/>
    </body>
</html>