<html>
    <body>

        <%- include('header') %>
        <div id="contact" class="contact ">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div class="titlepage">
                        <h2><strong class="yellow">Contact us</strong><br>Request a call back</h2>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-8 offset-md-2">
                     <form  action="/login" method="post" id="post_form" class="contact_form" >
                        <div class="row">
                           <div class="col-md-12 ">
                              <input class="contact_control" placeholder=" Username" type="text" name="unm">
                           </div>
                           <div class="col-md-12">
                              <input class="contact_control" placeholder=" Password" type="password" name="pwd">
                           </div>
                          
                           <div class="col-md-12">
                              <input class="send_btn" type="submit" value="submit">
                           </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
         </div>
         <%-include('footer') %>
    </body>
</html>