<!DOCTYPE html>
<html lang="en">
   
    <body>
     

  {{>header}}


      <!-- banner section start -->
    
      <!-- contact section start -->
      <div class="contact_section layout_padding">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <h1 class="contact_text">Registration Form</h1>
                <form action="/register" method="post">
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="First Name *" name="firstname">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Last Name *" name="lastname">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" placeholder="Your Email *" name="email">
                  </div>
                  <div class="form-group">
                    <input type="text" class="email-bt" minlength="10" maxlength="10" placeholder="Your Phone *" name="phone">
                  </div>
                  <div class="form-group">
                    <input type="password" class="email-bt" placeholder="Password *" name="password">
                  </div>
                   <div class="form-group">
                    <input type="password" class="email-bt" placeholder="Confirm Password *" name="confirmpassword">
                  </div>
                     <div class="main_bt">
                        <input type="submit" class="email-bt" value="Register" >
                     </div>
                  </div>
                  </form>
          </div>
        </div>
      </div>
      <!-- contact section end -->
      
     
       <footer>
        {{>footer}}
       </footer>

    <!-- copyright section start -->
    <div class="copyright_section">
      <div class="container">
        <p class="copyright">2020 All Rights Reserved. Design by <a href="https://html.design">Free html  Templates</a></p>
      </div>
    </div>
    <!-- copyright section end -->
      <!-- Javascript files-->
      <script src="js/jquery.min.js"></script>
      <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.bundle.min.js"></script>
      <script src="js/jquery-3.0.0.min.js"></script>
      <script src="js/plugin.js"></script>
      <!-- sidebar -->
      <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="js/custom.js"></script>
      <!-- javascript --> 
      <script src="js/owl.carousel.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
   </body>
   </html>
