<h1>List of  users</h1>
<table style="width: 80%; text-align:center; margin-top: 20px; margin-left: 150px; margin-bottom: 20px; font-weight: 500px; box-shadow: 5px 5px 10px black;" border="5px"  >
  <tr>
    <th>ID</th>
    <th>firstname</th>
    <th>lastname</th>
    <th>email</th>
    <th>phone</th>
    <th>password</th>
    <th>confirmpassword</th>
    

  </tr>
  <% for (let row of userDetails){ %>
    <tr>
      <td><%= row._id %></td>
      <td><%= row.firstname %></td>
      <td><%= row.lastname %></td>
      <td><%= row.email %></td>
      <td><%= row.phone %></td>
      <td><%= row.password %></td>
      <td><%= row.confirmpassword %></td>
      <!-- <td><%= row.status %></td> -->
</table>