<%- include('header') %>
<div class="row">
    <div class="col-md-8 offset-md-2">
       <form id="post_form" class="contact_form" method="post" action="/login">
          <div class="row">
             <div class="col-md-12 ">
                <input class="contact_control" placeholder=" UserName" type="text" name="unm">
             </div>
             <div class="col-md-12">
                <input class="contact_control" placeholder="Password" type="password" name="pwd">
             </div>
           
             <div class="col-md-12">
                <button class="send_btn">Login</button>
             </div>
       </form>
    </div>
 </div>
 
 <%- include('footer') %>
