<div id="contact" class="contact ">
    <div class="container">
       <div class="row">
          <div class="col-md-12">
             <div class="titlepage">
                <h2><strong class="yellow">Contact us</strong><br>Request a call back</h2>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-8 offset-md-2">
             <form action="/login" method="post">
                <div class="row">
                   <div class="col-md-12 ">
                      <input class="contact_control" placeholder="Username" type="text" name="unm">
                   </div>
                   <div class="col-md-12">
                      <input class="contact_control" placeholder="Password" type="password" name="pwd">
                   </div>
                   
                   <div class="col-md-12">
                      <input type="submit" value="submit" />
                   </div>
             </form>
          </div>
       </div>
    </div>
 </div>
 </div>
