<!DOCTYPE html>
<html lang="en">

<!-- body -->
<%- include('adminheader') %>
   <!-- banner -->
   <section class="banner_main">
      <div class="container">
         <div class="row">
            <div class="col-md-7 col-lg-7">
               <div class="text-bg">
                  <h1>Admin index Page <br>Professional Advisers</h1>
                  <span>for your Business</span>
                  <p>Showcase your Profile to the world using online CV builder and Get Hired Faster</p>
                  <a href="#">About us</a>
               </div>
            </div>
            <div class="col-md-5 col-lg-5">
               <div class="ban_img">
                  <figure><img src="../images/ba_ing.png" alt="#" /></figure>
               </div>
            </div>
         </div>
      </div>
   </section>
   <!-- end banner -->
  
   
 
   <!-- business  section -->
   <div class="business">
      <div class="container">
         <div class="row">
            <div class="col-md-7">
               <div class="titlepage">
                  <h2><strong class="yellow">CREATE</strong><br>PERSONALISED Business</h2>
                  <p>ss normal distribution of letters, as opposed to using </p>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src="../images/business_icon1.png" alt="#" /></i>
                  <h3>23</h3>
                  <p>NOMINATIONS </p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src="../images/business_icon2.png" alt="#" /></i>
                  <h3>31</h3>
                  <p>AGENCIES</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src="../images/business_icon3.png" alt="#" /></i>
                  <h3>7</h3>
                  <p>AWARDS</p>
               </div>
            </div>
            <div class="col-md-3 col-sm-6">
               <div id="ho_color" class="business_box">
                  <i><img src="../images/business_icon4.png" alt="#" /></i>
                  <h3>8</h3>
                  <p>Supported </p>
               </div>
            </div>
            <div class="col-md-12">
               <a class="read_more" href="#">Read More</a>
            </div>
         </div>
      </div>
   </div>
   <!-- end business  section -->
     <!-- contact  section -->
   <div id="contact" class="contact ">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="titlepage">
                  <h2><strong class="yellow">Contact us</strong><br>Request a call back</h2>
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-8 offset-md-2">
               <form id="post_form" class="contact_form">
                  <div class="row">
                     <div class="col-md-12 ">
                        <input class="contact_control" placeholder=" Name" type="type" name="Name">
                     </div>
                     <div class="col-md-12">
                        <input class="contact_control" placeholder="Email" type="type" name="Email">
                     </div>
                     <div class="col-md-12">
                        <input class="contact_control" placeholder="Phone Number " type="type" name="Phone Number ">
                     </div>
                     <div class="col-md-12">
                        <textarea class="textarea" placeholder="Message" type="type" Message="Name">Message </textarea>
                     </div>
                     <div class="col-md-12">
                        <button class="send_btn">Send</button>
                     </div>
               </form>
            </div>
         </div>
      </div>
   </div>
   </div>
   <!-- end contact  section -->

   <%- include('adminfooter') %>
   <!-- end footer -->
   
</body>

</html>